extends ../layouts/common.pug

block content 
	h1  User List
	ul(class="list-group") 
		each user in users 
			li(class="list-group-item") 
				span= user.name
	a(class="btn btn-outline-info mt-2" href="/" role="button") Home
